.App {
  text-align: center;
}

.leaflet-control-attribution
{
  background-color: rgba(0,0,0,0) !important;
}

.condition-main {
  display: inline-block;
  white-space: nowrap;
  color: white;
}

table {
  border-collapse: collapse;
}
td, th {
  padding: 3px; 
}